<template>
  <q-page padding class="row justify-center">
    <div id="q-app" style="min-height: 100vh">
      <div class="q-pa-md">
        <q-table
          title="Team Info"
          :rows="rows"
          row-key="name"
          selection="multiple"
          v-model:selected="selected"
          hide-pagination
          grid
          hide-header
          hide-no-data
        >
          <template v-slot:item="props">
            <div
              class="col-12 grid-style-transition"
              :style="props.selected ? 'transform: scale(0.95);' : ''"
            >
              <q-card :class="props.selected ? 'bg-grey-2' : ''">
                <q-card-section>
                  <q-list>
                    <q-item>
                      <q-item-section>
                        <q-avatar avatar>
                          <q-img :src="$resolvePath(props.row.icon)" />
                        </q-avatar>
                      </q-item-section>
                      <q-item-section side>
                        <q-item-label>{{ props.row.name }}</q-item-label>
                        <q-item-label caption>{{
                          props.row.short
                        }}</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card-section>
                <q-separator></q-separator>
                <q-list>
                  <q-item
                    v-for="col in props.cols.filter(
                      col => !excluded.includes(col.name)
                    )"
                    :key="col.name"
                  >
                    <q-item-section>
                      <q-item-label>{{ col.label }}</q-item-label>
                    </q-item-section>
                    <q-item-section side>
                      <q-item-label caption>{{ col.value }}</q-item-label>
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-card>
            </div>
          </template>
        </q-table>
        <!-- <player-list :team="team" /> -->
        <component :is="playerList" :team="team" />
      </div>
    </div>
  </q-page>
</template>

<script lang="ts">
import { Team } from "models/team";
import {
  defineComponent,
  ref,
  reactive,
  toRefs,
  computed,
  getCurrentInstance,
  defineAsyncComponent,
} from "vue";
import { useRoute } from "vue-router";
import { listById as list } from "service/teams";

export default defineComponent({
  name: "TeamDetail",
  emits: ["updateNavTitle"],
  setup(props, { emit }) {
    const route = useRoute();
    const state = reactive({
      rows: ref<Team[]>([]),
      total: 0,
      selected: [],
      excluded: ["id", "name", "short", "icon", "leagueid"],
      team: "",
    });

    async function loadData(id?: any) {
      const { data, total } = await list(id);
      state.rows = data;
      state.total = total;
      if (data && data[0] && data[0].short) {
        state.team = data[0].short;
        emit("updateNavTitle", state.team);
      }
    }

    function load() {
      loadData(route.params.id);
    }

    load();

    const playerList = defineAsyncComponent(
      () => import("pages/player/list.vue")
    );

    return { ...toRefs(state), load, playerList };
  },
});
</script>
