<template>
  <q-page class="column items-center justify-evenly">
    <div id="q-app" style="min-height: 100vh">
      <div class="q-pa-md">
        <q-table
          :title="$nvl($route.params.league)"
          :rows="list"
          row-key="name"
          selection="multiple"
          v-model:selected="selected"
          v-model:pagination="pagination"
          hide-no-data
          loading
          grid
          hide-header
        >
          <template v-slot:item="props">
            <div
              class="col-xs-6 col-sm-4 col-md-3 grid-style-transition"
              :style="props.selected ? 'transform: scale(0.95);' : ''"
            >
              <q-card :class="props.selected ? 'bg-grey-2' : ''">
                <q-card-section>
                  <q-list>
                    <q-item :to="$resolve('/teams/detail', props.row.id)">
                      <q-item-section avatar>
                        <q-avatar>
                          <q-img :src="$resolvePath(props.row.icon)" />
                        </q-avatar>
                        <q-item-label lines="2" class="font-team-list">{{
                          props.row.name
                        }}</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card-section>
              </q-card>
            </div>
          </template>
        </q-table>
      </div>
    </div>
  </q-page>
</template>

<script lang="ts">
import { Team } from "models/team";
import {
  defineComponent,
  ref,
  reactive,
  toRefs,
  getCurrentInstance,
} from "vue";
import { useRoute } from "vue-router";
import { listByLeague as list } from "service/teams";

export default defineComponent({
  name: "TeamList",
  emits: ["updateNavTitle"],
  setup(props, { emit }) {
    const route = useRoute();
    const state = reactive({
      list: ref<Team[]>([]),
      total: 0,
      selected: [],
      pagination: ref({
        page: 1,
        rowsPerPage: 4,
      }),
    });

    async function loadData(league?: string) {
      const { data, total } = await list(league);
      state.list = data;
      state.total = total;
      emit("updateNavTitle", league);
    }

    function load() {
      loadData(route.params.league);
    }

    load();

    return { ...toRefs(state), load };
  },
  watch: {
    $route(from, to) {
      if (from.fullPath !== to.fullPath && from.name === "teamList") {
        this.load();
      }
    },
  },
});
</script>

<style lang="stylus" scoped>
size = 10px
.font-team-list
  font-size size;
</style>
