<template>
  <q-page class="row items-center justify-evenly">
    <div id="q-app" style="min-height: 100vh">
      <!-- <q-btn v-permission="'admin'"></q-btn> -->
      <div class="q-pa-md">
        <q-carousel
          animated
          v-model="slide"
          arrows
          navigation
          infinite
          autoplay
          transition-prev="slide-right"
          transition-next="slide-left"
          @mouseenter="autoplay = false"
          @mouseleave="autoplay = true"
          class="text-white shadow-1 rounded-borders"
        >
          <q-carousel-slide
            v-for="(item, index) in list"
            :key="item.id"
            :name="index"
            :img-src="$resolvePath(item.image_uri)"
          >
            <div class="margin-coursol-text text-center">
              {{ item.content_short }}
            </div>
          </q-carousel-slide>
        </q-carousel>
        <q-list bordered class="rounded-borders">
          <q-item-label header>News</q-item-label>

          <div v-for="(item, index) in list" :key="item.id">
            <q-item clickable v-ripple>
              <q-item-section>
                <q-item-label caption lines="1">{{ item.type }}</q-item-label>
                <q-item-label lines="2">
                  <span class="text-weight-bold">{{ item.title }}</span>
                </q-item-label>
              </q-item-section>

              <q-item-section side top>
                <q-item-label caption lines="1">{{ item.author }}</q-item-label>
                <q-item-label lines="1">
                  #{{ item.display_time }}
                </q-item-label>
                <q-item-label lines="1">{{ item.pageviews }}</q-item-label>
              </q-item-section>
            </q-item>

            <q-separator
              v-if="index < list.length - 1"
              inset="item"
            ></q-separator>
          </div>
        </q-list>
      </div>
    </div>
  </q-page>
</template>

<script lang="ts">
import { News } from "models/news";
import { defineComponent, ref, toRefs, reactive } from "vue";
import { query } from "service/news";

export default defineComponent({
  name: "Home",
  setup() {
    const slide = ref(0);
    const state = reactive({
      list: ref<News[]>([]),
      total: 0,
    });

    async function load() {
      const { data, total } = await query();
      state.list = data;
      state.total = total;
    }

    load();

    return { slide, ...toRefs(state), load };
  },
});
</script>

<style lang="stylus" scoped>
margin-coursol-text=300px;
.margin-coursol-text
  margin-top margin-coursol-text;
</style>
