<template>
  <div id="q-app" class="login-container" style="min-height: 100vh">
    <div class="q-pa-md">
      <q-form class="q-gutter-md login-form" ref="loginForm">
        <div class="title-container">
          <h3 class="title">User Login</h3>
        </div>
        <q-input
          bg-color="white"
          filled
          v-model="formModel.username"
          :rules="rules.nameRule"
          label="Username"
          auto-complete="on"
        >
          <template v-slot:prepend>
            <q-icon name="person"></q-icon>
          </template>
        </q-input>

        <q-input
          bg-color="white"
          filled
          v-model="formModel.password"
          :rules="rules.passwordRule"
          :type="isPwd ? 'password' : 'text'"
          label="Password"
        >
          <template v-slot:prepend>
            <q-icon name="lock"></q-icon>
          </template>
          <template v-slot:append>
            <q-icon
              :name="isPwd ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd = !isPwd"
            ></q-icon>
          </template>
        </q-input>
        <div>
          <q-btn label="Submit" color="primary" @click="handleLogin"></q-btn>
        </div>
      </q-form>
    </div>
  </div>
</template>

<script script="ts">
import {
  defineComponent,
  ref,
  toRefs,
  reactive,
  unref,
  watchEffect,
} from "vue";
import { useRouter, useRoute } from "vue-router";
import { useUserStore } from "stores/user";
import { useQuasar } from "quasar";

export default defineComponent({
  name: "Login",
  setup() {
    const route = useRoute();
    const loginForm = ref(null);
    const form = reactive({
      formModel: {
        username: "",
        password: "",
      },
      rules: {
        nameRule: [val => !!val || "Username Required"],
        passwordRule: [val => !!val || "Password Required"],
      },
      isPwd: true,
    });
    const redirect = ref("");
    // watchEffect会在回调函数中涉及的变量变化时自动触发
    watchEffect(() => {
      redirect.value = route.query && route.query.redirect;
    });

    const { login: handleLogin } = useLogin(
      loginForm,
      form.formModel,
      redirect
    );
    return { ...toRefs(form), loginForm, handleLogin };
  },
});

function useLogin(form, model, redirect) {
  const store = useUserStore();
  const router = useRouter();
  const $q = useQuasar();
  const login = () => {
    unref(form)
      .validate()
      .then(valid => {
        if (valid) {
          store
            .login(model)
            .then(() => {
              // 登录成功，用户跳转
              $q.notify({
                icon: "done",
                color: "positive",
                message: "Login Successfully",
                timeout: 500,
                position: "top",
              });
              router.push({ path: unref(redirect) || "/" });
            })
            .catch(() => {
              $q.notify({
                color: "negative",
                message: "Login Failed",
                timeout: 500,
                position: "top",
              });
            });
        } else {
          $q.notify({
            color: "negative",
            message: "Validation Failed",
            timeout: 500,
            position: "top",
          });
        }
      });
  };
  return { login };
}
</script>

<style lang="stylus" scoped>
bg = #2d3a4b;
light_gray = #F5F5F5;
.login-container
  background-color bg;
  overflow hidden;
  .title-container
    position relative;
    .title
      font-size 26px;
      color light_gray;
      text-align center;
      font-weight bold;
  .login-form
    position relative;
    width 520px;
    max-width 100%;
    padding 160px 35px 0;
    margin 0 auto;
    overflow hidden;
</style>
