<template>
  <div>
    <p>{{ title }}</p>
    <ul>
      <li v-for="todo in todos" :key="todo.id" @click="increment">
        {{ todo.id }} - {{ todo.content }}
      </li>
    </ul>
    <p>Count: {{ todoCount }} / {{ meta.totalCount }}</p>
    <p>Active: {{ active ? "yes" : "no" }}</p>
    <p>Clicks on todos: {{ clickCount }}</p>
    <p>Count: {{ todoCount }} / {{ meta.totalCount }}</p>
    <div>
      <p>Count Hook: {{ hc }}</p>
      <button @click="inc(1)">加一</button>
      <button @click="dec(1)">减一</button>
    </div>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  PropType,
  computed,
  ref,
  toRef,
  Ref,
  getCurrentInstance,
} from "vue";
import { Todo, Meta } from "./models";
import { useCount } from "hooks/count";

function useClickCount() {
  const clickCount = ref(0);
  function increment() {
    clickCount.value += 1;
    return clickCount.value;
  }

  return { clickCount, increment };
}

function useDisplayTodo(todos: Ref<Todo[]>) {
  const todoCount = computed(() => todos.value.length);
  return { todoCount };
}

export default defineComponent({
  name: "ExampleComponent",
  props: {
    title: {
      type: String,
      required: true,
    },
    todos: {
      type: Array as PropType<Todo[]>,
      default: () => [],
    },
    meta: {
      type: Object as PropType<Meta>,
      default() {
        return { totalCount: 0 };
      },
      // default: ()=> ({ totalCount: 0 }) // 另一种写法
    },
    active: {
      type: Boolean,
    },
  },
  setup(props) {
    const {
      count: hc,
      increase: inc,
      decrease: dec,
      multiple: mul,
    } = useCount(1);
    return {
      ...useClickCount(),
      ...useDisplayTodo(toRef(props, "todos")),
      hc,
      inc,
      dec,
      mul,
    };
  },
});
</script>
