<template>
  <q-page class="row items-center justify-evenly">
    <div id="q-app" style="min-height: 100vh">
      <div class="q-pa-md">
        <div class="q-gutter-y-md">
          <q-list bordered class="rounded-borders">
            <q-item-label header class="text-weight-bold">
              {{ $nvl(name, "Player") }}
            </q-item-label>

            <div v-for="(item, index) in list" :key="item.id">
              <q-item clickable v-ripple>
                <q-item-section avatar>
                  <q-avatar>
                    <q-img :src="$resolvePath(item.icon)" />
                  </q-avatar>
                </q-item-section>

                <q-item-section>
                  <q-item-label lines="1">{{ item.nickname }}</q-item-label>
                  <q-item-label caption lines="1">{{ item.team }}</q-item-label>
                  <q-item-label caption lines="1"
                    >{{ item.age }} Years Old</q-item-label
                  >
                  <q-item-label caption lines="1">
                    <span class="text-weight-bold"
                      >Position {{ item.position }}</span
                    >
                  </q-item-label>
                </q-item-section>

                <q-item-section side top>
                  <q-item-label caption lines="1">
                    #{{ item.number }}
                  </q-item-label>
                  <q-item-label lines="1">{{ item.nation }}</q-item-label>
                  <q-item-label lines="1">{{ item.status }}</q-item-label>
                  <q-item-label lines="1">
                    Overall Rate {{ item.rate }}</q-item-label
                  >
                </q-item-section>
              </q-item>

              <q-separator
                v-if="index < list.length - 1"
                inset="item"
              ></q-separator>
            </div>
          </q-list>
          <q-card>
            <q-tabs
              v-model="tab"
              dense
              active-bg-color="blue"
              class="text-grey"
              active-color="orange"
              indicator-color="primary"
              align="justify"
              narrow-indicator
            >
              <q-tab name="Data" label="Data"></q-tab>
              <q-tab name="Stats" label="Stats"></q-tab>
            </q-tabs>

            <q-separator />

            <q-tab-panels v-model="tab" animated>
              <q-tab-panel name="Data">
                <div class="text-h6">Data</div>
                <div id="player-Data" style="min-height: 100vh">
                  <q-table
                    title="Statistics"
                    :rows="playerData"
                    :columns="columns"
                    row-key="name"
                    color="amber"
                    info
                    hide-pagination
                    hide-no-data
                  ></q-table>
                </div>
              </q-tab-panel>

              <q-tab-panel name="Stats">
                <div class="text-h6">Stats</div>
                <div id="echarts-Stats" style="min-height: 100vh" />
              </q-tab-panel>
            </q-tab-panels>
          </q-card>
        </div>
      </div>
    </div>
    <q-page-scroller
      position="bottom-right"
      :scroll-offset="150"
      :offset="[18, 18]"
    >
      <q-btn fab icon="keyboard_arrow_up" color="accent"></q-btn>
    </q-page-scroller>
  </q-page>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  reactive,
  toRefs,
  onMounted,
  onUnmounted,
  unref,
  inject,
  watch,
  watchEffect,
  nextTick,
  getCurrentInstance,
} from "vue";
import { useRoute } from "vue-router";
import { list, data as queryData } from "service/players";
// echarts
import * as echarts from "echarts/core";
import { Player } from "models/player";
import { useQuasar } from "quasar";
import { updateTitleKey } from "models/types";

export default defineComponent({
  name: "PlayerDetail",
  setup(props, { emit }) {
    const $q = useQuasar();
    const updateTitle = inject(updateTitleKey);
    const tab = ref("Data");
    const chart = ref(null);
    const state = reactive({
      list: ref<Player[]>([]),
      name: "",
      playerData: [],
      total: 0,
    });
    const route = useRoute();

    watch(tab, (newValue, oldValue) => {
      if (newValue === "Stats") {
        nextTick(() => {
          chart.value = echarts.init(document.getElementById("echarts-Stats"));
          const option = {
            title: {
              text: "Basic Radar Chart",
            },
            legend: {
              data: ["Allocated Budget", "Actual Spending"],
            },
            radar: {
              // shape: 'circle',
              indicator: [
                { name: "Sales", max: 6500 },
                { name: "Administration", max: 16000 },
                { name: "Information Technology", max: 30000 },
                { name: "Customer Support", max: 38000 },
                { name: "Development", max: 52000 },
                { name: "Marketing", max: 25000 },
              ],
            },
            series: [
              {
                name: "Budget vs spending",
                type: "radar",
                data: [
                  {
                    value: [4200, 3000, 20000, 35000, 50000, 18000],
                    name: "Allocated Budget",
                    label: {
                      normal: {
                        show: true,
                        position: "top",
                      },
                    },
                  },
                  {
                    value: [5000, 14000, 28000, 26000, 42000, 21000],
                    name: "Actual Spending",
                    label: {
                      normal: {
                        show: true,
                        position: "top",
                      },
                    },
                  },
                ],
              },
            ],
          };
          unref(chart).setOption(option);
        });
      }
    });

    // watchEffect(
    //   () => {
    //     if (tab.value === "Stats") {
    //       // ...
    //     }
    //   },
    //   {
    //     // 等价于  watchPostEffect
    //     flush: "post",
    //   }
    // );

    async function loadData(id: string) {
      $q.loading.show();
      try {
        const { data, total } = await list("", { id });
        state.list = data;
        const params = {};
        if (data[0] && data[0].name) {
          state.name = data[0].name;
          updateTitle(state.name);
        }
        state.total = total;
        if (data[0] && data[0].short) {
          params["short"] = data[0].short;
        }
        const { data: playerData } = await queryData(params);
        state.playerData = playerData;
      } catch (err) {
        console.log(err);
      } finally {
        $q.loading.hide();
      }
    }

    function load() {
      loadData(route.params.id);
    }

    const columns = [
      {
        name: "name",
        required: true,
        label: "Player",
        align: "left",
        field: row => row.name,
        format: val => `${val}`,
      },
      {
        name: "year",
        align: "center",
        label: "Season",
        field: "year",
        sortable: true,
        sort: (a, b) => parseInt(b, 10) - parseInt(a, 10),
      },
      { name: "team", label: "Team", field: "team" },
      {
        name: "score",
        label: "Score",
        field: "score",
        format: val => `${val}`,
        sortable: true,
      },
      {
        name: "field goal",
        label: "FG%",
        field: "fieldper",
        format: val => `${(val * 100).toFixed(2)}%`,
        sortable: true,
      },
      {
        name: "assist",
        label: "Assist",
        field: "assist",
        format: val => `${val}`,
        sortable: true,
      },
      {
        name: "appearance",
        label: "Apperance",
        field: "appearance",
        sortable: true,
      },
      {
        name: "time",
        label: "Avg. Time",
        field: "time",
        format: val => `${val}`,
        sortable: true,
      },
    ];

    load();

    onUnmounted(() => {
      if (!unref(chart)) {
        return;
      }
      chart.value.dispose();
      chart.value = null;
    });

    return { tab, chart, load, ...toRefs(state), columns };
  },
});
</script>
