<template>
  <q-page class="row items-center justify-evenly">
    <div id="q-app" style="min-height: 100vh">
      <div class="q-pa-md q-gutter-md">
        <q-list bordered class="rounded-borders">
          <q-item-label header>Players</q-item-label>

          <template v-for="(item, index) in list" :key="item.id">
            <q-item
              clickable
              v-ripple
              :to="$resolve('/players/detail', item.id)"
            >
              <q-item-section avatar>
                <q-avatar>
                  <q-img :src="$resolvePath(item.icon)" />
                </q-avatar>
              </q-item-section>

              <q-item-section>
                <q-item-label lines="1">{{ item.name }}</q-item-label>
                <q-item-label caption lines="2">
                  <span class="text-weight-bold">{{ item.position }}</span>
                  -- {{ item.nickname }}
                </q-item-label>
              </q-item-section>

              <q-item-section side top>#{{ item.number }}</q-item-section>
            </q-item>

            <q-separator
              v-if="index < list.length - 1"
              inset="item"
            ></q-separator>
          </template>
        </q-list>
      </div>
    </div>
    <q-page-scroller
      position="bottom-right"
      :scroll-offset="150"
      :offset="[18, 18]"
    >
      <q-btn fab icon="keyboard_arrow_up" color="accent"></q-btn>
    </q-page-scroller>
  </q-page>
</template>

<script lang="ts">
import { Player } from "models/player";
import {
  defineComponent,
  ref,
  reactive,
  toRefs,
  watch,
  computed,
  getCurrentInstance,
} from "vue";
import { useRoute } from "vue-router";
import { list } from "service/players";

export default defineComponent({
  name: "PlayerList",
  props: {
    league: {
      type: String,
      default: "",
    },
    team: {
      type: String,
      default: "",
    },
  },
  emits: ["updateNavTitle"],
  setup(props, { emit }) {
    const route = useRoute();
    const state = reactive({
      list: ref<Player[]>([]),
      total: 0,
    });

    async function loadData(team?: string, league?: string) {
      const params: any = {};
      if (league) {
        params.league = league;
      }
      const { data, total } = (await list(team, params)) as {
        data: any[];
        total: number;
      };
      state.list = data;
      state.total = total;
    }

    function load() {
      if (route.params.team || route.params.league) {
        loadData(route.params.team, route.params.league);
        emit("updateNavTitle", route.params.team || route.params.league);
      } else if (props.team) {
        loadData(props.team, props.league);
      }
    }

    load();

    watch(
      () => props.team, // 监听源必须是响应式，或getter 函数、或多个数据源组成的数组，不能是响应式对象的属性值
      (newValue, oldValue) => {
        loadData(newValue, props.league);
      }
    );
    return { ...toRefs(state), load };
  },
});
</script>
