<template>
  <q-footer bordered elevated>
    <q-tabs align="justify" class="bg-purple">
      <q-route-tab
        v-for="item in menus"
        :key="item.path"
        :label="item.label"
        :icon="$resolveImgPath(item.icon)"
        exact
        :to="item.path"
      />
    </q-tabs>
  </q-footer>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { usePermissionStore } from "stores/permission";
import { storeToRefs } from "pinia";

export default defineComponent({
  name: "AppFooter",
  setup() {
    const store = usePermissionStore();
    const { menus } = storeToRefs(store);

    return { menus };
  },
});
</script>
