<template>
  <q-header elevated>
    <q-toolbar class="bg-purple">
      <q-btn
        flat
        dense
        round
        icon="menu"
        aria-label="Menu"
        @click="toggleLeftDrawer"
        v-if="$route.meta && $route.meta.dashBoard"
        v-show="!open && name"
      />

      <q-btn
        flat
        dense
        round
        icon="arrow_back_ios"
        aria-label="arrow_back_ios"
        @click="$router.back()"
        v-else
      />

      <q-toolbar-title>
        <q-avatar v-if="$route.meta && $route.meta.dashBoard">
          <q-img src="~/assets/quasar-logo-vertical.svg"> </q-img>
        </q-avatar>
        <!-- <router-link :to="'/?time=' + new Date().getTime()"> -->
        <router-link to="/" v-else>
          <q-avatar>
            <q-img src="~/assets/quasar-logo-vertical.svg"> </q-img>
            <q-tooltip class="bg-indigo" :offset="[10, 10]">Home</q-tooltip>
          </q-avatar>
        </router-link>
        {{ topTitle }}
      </q-toolbar-title>
      <div>
        <q-avatar
          icon="refresh"
          style="cursor: pointer"
          @click="$emit('refresh')"
          ><q-tooltip class="bg-indigo" :offset="[10, 10]">refresh</q-tooltip>
        </q-avatar>
      </div>
      <div v-if="name">
        <q-avatar>
          <img v-lazy="avatar" />
        </q-avatar>
        {{ name }}
        <q-avatar
          icon="logout"
          style="cursor: pointer"
          @click="
            logout();
            $router.push({ path: '/login' });
          "
        >
          <q-tooltip class="bg-indigo" :offset="[10, 10]">logout</q-tooltip>
        </q-avatar>
      </div>
      <div v-else>
        Quasar v{{ $q.version }}
        <q-avatar
          icon="login"
          style="cursor: pointer"
          @click="$router.push({ path: '/login' })"
        >
          <q-tooltip class="bg-indigo" :offset="[10, 10]">login</q-tooltip>
        </q-avatar>
      </div>
    </q-toolbar>
  </q-header>
</template>

<script setup lang="ts">
import {
  defineProps,
  defineEmits,
  computed,
  getCurrentInstance,
  Directive,
} from "vue";
import { useRoute } from "vue-router";
import { useUserStore } from "stores/user";
import { storeToRefs } from "pinia";

const store = useUserStore();
const { logout } = store;
const { name, avatar } = storeToRefs(store);
const route = useRoute();
const { proxy } = getCurrentInstance() as any;

const props = defineProps({
  open: {
    type: Boolean,
    default: false,
  },
  title: {
    type: String,
    default: "",
  },
});

const emit = defineEmits(["update:open", "refresh"]);

const toggleLeftDrawer = () => {
  emit("update:open", !props.open);
};

const topTitle = computed(() => {
  return route.meta && route.meta.dashBoard ? proxy.$navTitle : props.title;
});

const vLazy: Directive<HTMLImageElement, string> = async (el, binding) => {
  const def = await import("../assets/quasar-logo-vertical.svg");
  // el.setAttribute("src", def.default);
  el.src = def.default;
  const observer = new IntersectionObserver(e => {
    setTimeout(() => {
      if (e[0].intersectionRatio > 0) {
        el.src = binding.value;
        observer.unobserve(el);
      }
    }, 1000);
    observer.unobserve(el);
  });
  observer.observe(el);
};

// <script setup> 子组件属性对父组件默认关闭，必须用defineExpose暴露
defineExpose({
  topTitle,
});
</script>
