<template>
  <q-page-container>
    <router-view v-slot="{ Component }">
      <keep-alive v-if="$route.meta && $route.meta.keepAlive">
        <component ref="view" :is="Component" @updateNavTitle="updateTitle" />
      </keep-alive>
      <component
        ref="view"
        :is="Component"
        @updateNavTitle="updateTitle"
        v-else
      />
    </router-view>
  </q-page-container>
</template>

<script lang="ts">
import { defineComponent, ref, nextTick, Ref } from "vue";

export default defineComponent({
  name: "AppMain",
  emits: ["updateNavTitle"],
  setup(prop, { emit }) {
    const updateTitle = (title: string) => {
      emit("updateNavTitle", title);
    };

    const view = ref({} as { load: () => void });
    const refresh = () => {
      nextTick(() => {
        if (view.value && view.value.load) {
          view.value.load();
        }
      });
    };
    return { updateTitle, refresh, view };
  },
});
</script>
