<template>
  <q-drawer v-model="leftDrawer" bordered>
    <q-list>
      <q-item-label header>
        <div>
          <q-btn
            dense
            round
            unelevated
            color="accent"
            icon="chevron_left"
            @click="emit('update:open', !open)"
          ></q-btn>
          <span class="text-weight-bold"> Categories </span>
        </div>
      </q-item-label>

      <EssentialLink
        v-for="item in menus"
        :key="item.path"
        v-bind="item"
        :icon="$resolveImgPath(item.icon)"
      />
    </q-list>
  </q-drawer>
</template>

<script setup lang="ts">
import { computed, defineProps, ref } from "vue";
import { usePermissionStore } from "stores/permission";
import { storeToRefs } from "pinia";
import EssentialLink from "components/EssentialLink.vue";

const props = defineProps({
  open: {
    type: Boolean,
    default: false,
  },
});

const emit = defineEmits(["update:open"]);

// const leftDrawer = computed(() => {
//   return props.open;
// });
const leftDrawer = computed({
  get() {
    return props.open;
  },
  set(value) {
    // not readonly
  },
});

const store = usePermissionStore();
const { menus } = storeToRefs(store);
</script>
