<template>
  <q-layout view="lHh Lpr lFf">
    <app-header
      v-model:open="leftDrawerOpen"
      :title="navTitle"
      @refresh="refresh"
    />
    <app-side-drawer v-model:open="leftDrawerOpen" />
    <app-main ref="main" @updateNavTitle="updateTitle" />
    <app-footer />
  </q-layout>
</template>

<script lang="ts">
import { defineComponent, ref, provide, nextTick } from "vue";
import AppHeader from "./AppHeader.vue";
import AppSideDrawer from "./AppSideDrawer.vue";
import AppMain from "./AppMain.vue";
import AppFooter from "./AppFooter.vue";
import { updateTitleKey } from "models/types";

export default defineComponent({
  name: "MainLayout",

  components: {
    AppHeader,
    AppSideDrawer,
    AppMain,
    AppFooter,
  },

  setup() {
    // console.log(process.env.MODE); // Quasar platform
    const leftDrawerOpen = ref(false);
    const navTitle = ref("Quasar App");
    const updateTitle = (title: string) => {
      navTitle.value = title;
    };
    provide(updateTitleKey, (val: string) => {
      navTitle.value = val;
    });
    const main = ref({} as { refresh: () => void });
    const refresh = () => {
      nextTick(() => {
        main.value.refresh();
      });
    };
    return {
      leftDrawerOpen,
      updateTitle,
      navTitle,
      refresh,
      main,
    };
  },
  watch: {
    $route() {
      if (!(this.$route.meta && this.$route.meta.menu)) {
        this.leftDrawerOpen = false;
      }
    },
  },
});
</script>
